/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    background-repeat: repeat;
}

.title {
    color: white;
    text-align: center;
    margin: 0 0 5px 0;
    font-size: 22px;
}

.card {
    background-color: #2a79d0;
    border: solid 10px #000000;
    width: 280px;
    padding: 8px 12px 55px 12px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    transition: all ease-out .2s;
    cursor: pointer;
}

main {
    margin-bottom: 10%;
}

.cardLost {
    background-color: #cf2828;
    border: solid 10px #000000;
    width: 280px;
    padding: 8px 12px 55px 12px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    transition: all ease-out .2s;
    cursor: pointer;
}

.card:hover,
.cardLost:hover {
    transform: scale(1.04) translateY(-5px) translateX(-5px);
    box-shadow: 12px 12px 10px rgba(0, 0, 0, .2);
}

.correct button :hover {
    transform: scale(1.04) translateY(-5px) translateX(-2px);
    box-shadow: 12px 12px 10px rgba(0, 0, 0, .2);
    /* background-color: green ; */
}

.name {
    font-size: 18px;
    color: white;
    width: 75%;
    position: relative;
    padding: 0;
    margin: 0 0 10px 0;
}

.cost {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 8px 20px 7px 15px;
    position: absolute;
    right: 15px;
    top: 0;
}

.cost img {
    position: absolute;
    right: 0;
    top: 13px;
    width: 14px;
}

.image img {
    height: 250px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 0 rgba(0, 0, 0, .15);
    position: relative;
    background-position: top;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.type {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .8);
    font-size: 13px;
    font-weight: 600;
    padding: 10px 0;
    text-align: right;
}

.abilities {
    margin-bottom: 15px;
    background: rgba(255, 255, 255, .3);
    padding: 3px 12px;
    list-style-type: none;
    margin: 0 0 15px 0;
    border-radius: 3px;
}

.abilities li {
    color: rgba(0, 0, 0, .7);
    padding: 8px 0;
    font-size: 14px;
    border-bottom: solid 1px rgba(255, 2552, 255, .2);
}

.abilities li:last-child {
    border: none;
}

.flavor-text {
    font-style: italic;
    font-size: 14px;
}


/* Power and Defense stats at the bottom */

.stat {
    padding: 5px 10px;
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    background: black;
    color: white;
}

.stat img {
    display: inline;
    position: relative;
    top: 1px;
}

.power {
    left: 0px;
}

.defense {
    right: 0;
}


/* Tooltip styles */

.tooltip {
    display: none;
}

.tooltip {
    position: fixed;
    background: rgba(0, 0, 0, .85);
    color: white;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    padding: 7px 10px 9px 10px;
    z-index: 99999;
    color: rgba(255, 255, 255, .8);
    animation: tooltipPop .15s ease-out;
    transform-origin: bottom left;
}

.btn {
    margin: auto;
    margin-bottom: 3vh;
}

.sheen {
    position: absolute;
    top: 0;
    left: -20%;
    width: 140%;
    height: 0%;
    background: white;
    animation: sheen infinite .5s ease-in-out;
    display: none;
    transform: rotate(-7deg);
}

.card:hover .sheen {
    display: block;
    animation: sheen .35s linear 1;
}

.correct {
    color: red;
}

#toolCardImg {
    height: 30px;
    width: 30px;
}

#toolbar {
    padding-top: 0px;
    color: white;
    background: #ff404a;
    margin-bottom: 15px;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
    border-radius: 5px;
    height: 50px;
    display: block;
}

#confirmContainer {
    margin-right: 0px;
    margin: 0.3%;
    margin-left: 3%;
    float: right;
    width: 17%;
    display: inline-block;
    font-size: 0;
}

.tooldetails {
    width: 78%;
    display: inline-block;
}

#toolbar span {
    margin-right: 10px;
    font-size: 14.5px;
}

.nameToolb {
    margin-left: 11%;
}

.toolbarResponsiveSkull {
    height: 100%;
    width: 25%;
    display: inline-block;
    margin-bottom: 5px;
}

.confirmTool {
    margin-left: 10%;
    margin-top: 0.7%;
}

#spinner {
    height: 200px;
    width: 200px;
}

#toolbar label {
    font-size: 14.5px;
    margin-left: 10px;
    margin-right: 20px;
}

#toolbar img {
    margin-left: 3%;
    vertical-align: middle;
}

#confirmkilled {
    margin: 0px;
    height: 30px;
    width: 45px;
}

#unconfirmKilled {
    margin: 0px;
    height: 30px;
    width: 45px;
}

#confirmkilled:hover,
#unconfirmKilled:hover {
    cursor: pointer;
    height: 35px;
    width: 53px;
    margin: 0px;
}

#confirmKilledToHover {
    color: #ff404a;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}

.userImg {
    width: 100%;
    height: 100%;
}

img.userImg {
    margin-top: 0px;
}

.userImgContainer {
    width: 100%;
    margin: 0px;
    height: 100%;
    background-color: #f4f4f4;
}

.grid {
    background-color: #f4f4f4;
    height: 100%;
}

.toGradient {
    font-size: 16px;
    background: -webkit-linear-gradient(#5dac91, #4899c1);
    -webkit-background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}

.linkProfileUser {
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    color: #0074b2;
}

.leftDashboard {
    width: 145px;
    margin-left: 15px;
    margin-right: auto;
    float: left;
}

.leftDashboard p {
    text-align: left;
}

.leftDashboard span,
.rightDashboard span {
    display: block;
}

.rightDashboard {
    margin-right: auto;
    margin-left: 0;
    padding-left: 20%
}

.labelTitles {
    color: #0074b2;
    font-size: 25px;
    padding-top: 1%;
}

.targerImgContainer img,
.targerImgContainerHistory img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

.targerImgContainer {
    height: 80px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.targerAttributeContainer {
    width: 15%;
}

.userTargerContainer {
    white-space: nowrap;
}

.targerOperatingModeContainer,
.targerBenchContainer,
.targerButtonContainer,
.targerAttributeContainer,
.targerOperatingModeContainerHistory,
.targerBenchContainerHistory,
.targerAttributeContainerHistory,
.dateContainerDesk,
.hourContainer {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: 2%;
}

#confirmKill,
#sendKilled {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 250px !important;
    margin-right: 0% !important;
    float: right;
}

.targerOperatingModeContainer,
.targerButtonContainer {
    width: 28%;
}

.targerBenchContainer {
    width: 7%;
}

.medalContainer,
.deathDescription,
.history {
    overflow-y: auto;
    margin-top: 5%;
    width: 98%;
    padding: 1%;
}

.medalContainer {
    background-color: #e4edf0;
    border-radius: 5px;
}

.targerOperatingModeContainerHistory {
    width: 26%;
}

.targerAttributeContainerHistory {
    width: 23%;
}

.targerBenchContainerHistory {
    width: 5%;
}

.targerImgContainerHistory {
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.mailContainer {
    margin-top: 10%;
}

.targetStatus {
    height: 100%;
    width: 100%;
    padding: 1px;
}

.correct {
    height: 45px;
    width: 45px;
    margin: auto;
}


textarea {
    resize: none;
    width: 30%;
}

.input {
    width: 60%;
}

.descriptionContainer {
    margin-left: 2%;
}

.deathDescription {
    width: 90%;
}


/*tablette*/

@media (min-width: 320px) and (max-width: 1024px) {
    .toGradient {
        display: block;
    }
    .userImgContainer {
        display: inline-block;
        width: 20%;
        margin: 0px;
        height: 100%;
        padding: 0px;
        float: left;
    }
    .responsiveLeftContainer {
        float: left;
        width: 38%;
        display: inline-block;
        height: 100%;
    }
    .linkContainer {
        float: right;
        width: 30%;
        display: inline-block;
    }
    .rightDashboard {
        margin-right: auto;
        margin-left: 0;
        padding-left: 20%;
        width: 100%;
        display: inline-block;
    }
    .leftDashboard {
        width: 98%;
        margin-left: 15px;
        margin-right: auto;
        margin-top: 10px;
        height: 30%;
        display: block;
        float: none;
        margin-top: 5px;
    }
    .toGradientContainer {
        width: 100%;
        display: block;
        margin-top: 0px;
        margin-left: 0px;
        float: left;
    }
    .mailContainer {
        margin-top: 0%;
        text-align: left;
    }
    .toolbar img {
        vertical-align: middle;
    }
    .userTargerContainer {
        width: 100%;
    }
    .dateContainer {
        margin-right: 0px;
        width: 100%;
        margin-top: 2%;
    }
    .linkContainer a {
        display: block;
    }
    .responsiveLeftContainer {
        margin-left: 2%;
    }
    .linkProfileUser:first-child {
        margin-top: 0px;
    }
    .linkProfileUser {
        margin-top: 20px;
    }
    .toGradientContainer,
    .mailContainer,
    .dateContainer,
    .hourContainer,
    .descriptionContainer {
        margin-left: 5%;
    }
    .userTargerContainer {
        width: 100%;
    }
    .rightDashboard {
        margin-right: auto;
        margin-left: 0;
        margin-top: 5%;
        padding-left: 5%
    }
    .labelTitles {
        font-size: 20px;
    }
    .targerOperatingModeContainerHistory,
    .targerAttributeContainerHistory {
        width: 22%;
    }
    .targerBenchContainerHistory {
        width: 8%;
    }
    #toolbar {
        padding-top: 0px;
        color: white;
        background: #ff404a;
        margin-bottom: 15px;
        width: 98%;
        margin-left: 1%;
        margin-bottom: 5%;
        vertical-align: middle;
        border-radius: 5px;
        height: 85px;
    }
    .toolbarResponsiveSkull div {
        height: 100%;
    }
    .toolbarResponsiveSkull {
        width: 68%;
        padding-top: 0px;
        display: block;
        margin-bottom: 5px;
    }
    .toolbarResponsiveSkull img {
        text-align: left;
        margin-left: 0px;
        vertical-align: middle;
    }
    .nameToolb {
        margin-left: 2%;
    }
    .confirmTool {
        margin-left: 10px;
        float: none;
    }
    #confirmContainer {
        height: 100%;
        width: 18%;
        float: right;
    }
    #confirmContainer button,
    .imageValidContainer {
        margin-top: 15%
    }
    #confirmKill,
    #sendKilled {
        width: 100px !important;
    }
}


/*mobile*/

@media (min-width: 320px) and (max-width: 480px) {
    .toGradient {
        display: block;
        font-size: 13px;
    }
    .dateContainer,
    .linkContainer,
    .mailContainer,
    .leftDashboard,
    .rightDashboard {
        font-size: 12px;
    }
    .leftDashboard {
        height: 80%;
        float: none;
        width: 95%;
    }
    .nameToolb {
        display: block;
        text-align: center;
    }
    .tooldetails,
    .confirmTool {
        font-size: 12px;
        text-align: center;
    }
    .toolbarResponsiveSkull div {
        text-align: center;
    }
    .toolbarResponsiveSkull {
        width: 100%;
        margin-bottom: 10px;
    }
    .tooldetails {
        display: block;
        width: 100%;
        height: 30%;
    }
    #confirmContainer {
        float: none;
        width: 100%;
        margin: 0px;
        text-align: center;
        height: 70%;
    }
    #toolbar {
        height: 150px;
    }
    .nameToolb,
    .confirmTool,
    .tooldetails {
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .responsiveLeftContainer {
        margin-left: 0%;
        width: 30%;
        margin-top: 150px;
        left: 0px;
        float: left;
        position: absolute;
        display: block;
        margin-left: 10px;
    }
    .linkContainer{
        width: 50%;
    }
    .rightDashboard {
        margin-top: 200px;
    }
    .userImgContainer {
        width: 35%;
        margin: 0px;
        height: 100%;
        padding: 0px;
        display: inline-block;
        float: left;
    }
    .rightDashboard {
        vertical-align: middle;
        text-align: center;
    }
    .targerImgContainer,
    .targerImgContainerHistory {
        text-align: center;
        display: block;
        float: none;
        white-space: nowrap;
        margin-left: 40%;
    }
    .targerAttributeContainer,
    .targerOperatingModeContainer {
        width: 45%;
        margin: 0%;
    }
    .targerBenchContainer {
        display: block;
        margin-left: 45%;
    }
    .targerAttributeContainerHistory,
    .targerOperatingModeContainerHistory,
    .targerBenchContainerHistory {
        width: 45%;
        margin: 0%;
    }
    .targerAttributeContainerHistory {
        margin-bottom: 10px;
    }
    .targerAttributeContainerHistory:last-child {
        display: block;
    }
}