<killer-menu [showMenu]=isConnected></killer-menu>
<!-- Fin Menu -->
<!-- Start card -->
<md-toolbar *ngIf="deathDetail.killed == true" id="toolbar">
    <span>{{deathDetail.killerInfo.firstname}} {{deathDetail.killerInfo.lastname}} déclare vous avoir kill avec l'outil: {{deathDetail.toolName}}</span>

    <div align="right">
        <button md-raised-button class="toolbar-button" id="confirmkilled" (click)="openDialog()">Confirmer</button>
        <button md-raised-button class="toolbar-button">humnn??</button>
    </div>
</md-toolbar>
<!-- Your card starts here -->
<div align="center">
    <md-spinner *ngIf="cardClass == ''" id="spinner"></md-spinner>
</div>
<div class="{{cardClass}}" *ngIf="cardClass !== ''">
    <h1 class="name" tooltip="Name of your Avatar" *ngIf="deathDetail.killed != true">
        {{'CONTRAT.ENCOURS' | translate }}
    </h1>
    <h1 class="name" tooltip="Name of your Avatar" *ngIf="deathDetail.killed == true">
        {{'CONTRAT.MISSIONANNULEE' | translate }}
    </h1>

    <div class="cost" tooltip="Deploy cost">
        E
        <img src="../assets/img/wifi.svg" />
    </div>

    <div class="image" tooltip="A sweet portrait image">
        <img src="{{ infoDetail.targetInfo.userImg }}" alt="">
        <!--  -->
    </div>

    <div class="type" tooltip="Avatar Type">
        Type: Cyber-Defender
    </div>

    <!-- Use the following list of abilities, or make up your own -->
    <ul class="abilities" tooltip="List of anti-hacking abilities">
        <li>Target : {{ infoDetail.targetInfo.firstname }} {{ infoDetail.targetInfo.killerlastname }}</li>
        <li>Outil :
            <img src="{{infoDetail.tool}}" id="toolCardImg" mdTooltip="{{infoDetail.toolName}}">
        </li>
        <li>Action : {{infoDetail.action}} </li>

    </ul>

    <div class="flavor-text" tooltip="A wise quote">
        {{'CONTRAT.CONSIGNE' | translate }}
    </div>

    <!-- <div class="power stat" tooltip="Attack power&mdash;Number of devices">
        G <img src="../assets/img/device.svg" />
    </div>
    
    <div class="defense stat" tooltip="Defense power&mdash;Number of passwords">
        O <img src="../assets/img/lock.svg" />
    </div> -->
    <!-- <div class="sheen"></div> -->

</div>
<div class="correct" *ngIf="infoDetail.canSetKillerValidation == 0 && deathDetail.killed != true && cardClass !== ''">
    <a class="waves-effect waves-light btn">
        <button (click)="setContratRempli()">
            <i class="material-icons right">check</i>
        </button>
    </a>
    <br>
</div>
<div class="correct" *ngIf="infoDetail.canSetKillerValidation == 1 && deathDetail.killed != true">
    <h4> {{'CONTRAT.ATTENTE' | translate }} </h4>
</div>
<div class="correct" *ngIf="deathDetail.killed == true">
    <h4> {{deathDetail.killerInfo.username}} {{'CONTRAT.RECUPMISSION' | translate }} </h4>
</div>

<!-- <div class="correct"> <h3> {{'CONTRAT.VALIDE' | translate }} </h3> </div> -->


<ng2-toasty [position]="'top-center'"></ng2-toasty>
<!-- End card -->
<killer-footer></killer-footer>