<killer-menu [showMenu]=isConnected *ngIf="canShowMenu" class="killMenu"></killer-menu>
<div *ngIf="deathDetail.killed" id="toolbar">
    <div class="tooldetails">
        <div class="toolbarResponsiveSkull">
            <div>
                <img src="../assets/img/Skull.png">
                <label>T'es mort !</label>
            </div>
        </div>
        <span class="nameToolb">{{deathDetail.killerInfo.firstname}} {{deathDetail.killerInfo.lastname}} indique vous avoir kill !</span>
        <span class="confirmTool"> Vous le confirmez ?</span>
    </div>

    <div id="confirmContainer">
        <button md-button *ngIf="!showButtons" class="md-raised" id="confirmKilledToHover" (mouseover)="confirmMouseHoverEnter()">Confirmer</button>
        <div (mouseleave)="confirmMouseHoverLeave()" *ngIf="showButtons" class="imageValidContainer">
            <img src="../assets/img/btn confirmer.png" id="confirmkilled" (click)="canShowDescription = true">
            <img src="../assets/img/btn infirmer.png" id="unconfirmKilled">
        </div>
    </div>
</div>
<main *ngIf="loadDone">
    <div class="leftDashboard">
        <div class="userImgContainer">
            <img src="{{infoDetail.userInfo.img}}" class="userImg">
        </div>
        <div class="responsiveLeftContainer">
            <div class="toGradientContainer">
                <p>
                    <span class="toGradient">{{infoDetail.userInfo.name}}</span>
                    <span class="toGradient">{{infoDetail.userInfo.username}}</span>
                </p>
            </div>
            <div class="dateContainer">
                <span>
                    <label>Date d'inscription</label>
                </span>
                <span>
                    {{infoDetail.userInfo.inscriptionDate}}
                </span>
            </div>
            <div class="mailContainer">
                <span>
                    <label>Email</label>
                </span>
                {{infoDetail.userInfo.email.substr(0,infoDetail.userInfo.email.length - 13)}}...
            </div>
        </div>
        <div class="linkContainer ">
            <a href="#" class="linkProfileUser">Modifier le profil</a>
            <a href="#" class="linkProfileUser">Se déconnecter</a>
            <a href="#" class="linkProfileUser">Supprimer mon profil</a>
        </div>
    </div>
    <div class="rightDashboard">
        <span>
            <label class="labelTitles">{{'CONTRAT.ENCOURS' | translate }}</label>
        </span>
        <div class="userTargerContainer">
            <div class="targerImgContainer">
                <img src="{{ infoDetail.targetInfo.userImg }}" alt="">
            </div>
            <div class="targerAttributeContainer">
                <span>
                    <label>{{ infoDetail.targetInfo.firstname }} {{ infoDetail.targetInfo.killerlastname }}</label>
                    <span>{{infoDetail.targetInfo.killerusername}}</span>
                </span>
            </div>
            <div class="targerOperatingModeContainer">
                <span>
                    <label>{{'CONTRAT.MODE_OPERATOIRE' | translate }} </label>
                    <span>{{infoDetail.toolName}}</span>
                </span>
            </div>
            <div class="targerBenchContainer">
                <span>
                    <label>Bench</label>
                    <span>{{infoDetail.targetInfo.bench}}</span>
                </span>
            </div>
            <div class="targerButtonContainer">
                <div *ngIf="infoDetail.canSetKillerValidation == 0 && !deathDetail.killed && cardClass !== ''">
                    <span>
                        <button md-button class="md-raised" id="confirmKill" (click)="setContratRempli()">Exécuté</button>
                    </span>
                </div>
                <div *ngIf="deathDetail.killed">
                    <div class="correct" mdTooltip="Mission Annulé ! ">
                        <img src="../assets/img/cancel.png" class="targetStatus" alt="">
                    </div>
                    <div></div>

                </div>
                <div *ngIf="infoDetail.canSetKillerValidation == 1 && !deathDetail.killed">
                    <div class="correct" mdTooltip="Attente de la confirmation de l'adversaire !">
                        <img src="../assets/img/checked.png" class="targetStatus">
                    </div>
                </div>
            </div>
        </div>
        <div class="deathDescription" *ngIf="canShowDescription">
            <div class="dateContainer dateContainerDesk">
                <label> Date </label>
                <br/>
                <md-input-container class="input">
                    <input mdInput tabindex="1" [(ngModel)]="killDetails.date" type="date" id="datePicker">
                </md-input-container>
            </div>
            <div class="hourContainer">
                <label> Heure </label>
                <br/>
                <md-input-container class="input">
                    <input mdInput tabindex="1" [(ngModel)]="killDetails.time" type="time">
                </md-input-container>
            </div>
            <div class="descriptionContainer">
                <label>Commentaire</label>
                <br/>
                <md-input-container class="input">
                    <textarea mdInput tabindex="1" [(ngModel)]="killDetails.description"></textarea>
                </md-input-container>
            </div>
            <button md-button class="md-raised" id="sendKilled" (click)="setImKilled()">Envoyer</button>
        </div>
        <!--div class="medalContainer">
                <label class="labelTitles">{{'CONTRAT.MEDAILLE' | translate }}</label>
            </div-->
        <div class="history">
            <label class="labelTitles">{{'CONTRAT.HISTORY' | translate }}</label>
            <div class="historyContainer" *ngFor="let user of killedUsers">
                <div class="targerImgContainerHistory">
                    <img src="{{ user.userImg }}" alt="">
                </div>
                <div class="targerAttributeContainerHistory">
                    <span>
                        <label>{{user.name}} {{user.lastname}}</label>
                        <span>{{user.username}}</span>
                    </span>
                </div>
                <div class="targerAttributeContainerHistory">
                    <span>
                        <label>{{'CONTRAT.MURDER_DATE' | translate }}</label>
                        <span>{{user.contractDetails.endDate}}</span>
                    </span>
                </div>
                <div class="targerOperatingModeContainerHistory">
                    <span>
                        <label>{{'CONTRAT.MODE_OPERATOIRE' | translate }} </label>
                        <span>{{user.contractDetails.tool}}</span>
                    </span>
                </div>
                <div class="targerBenchContainerHistory">
                    <span>
                        <label>Bench</label>
                        <span>{{user.bench}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>

<div align="center">
    <md-spinner *ngIf="!loadDone" id="spinner"></md-spinner>
</div>