<killer-menu [showMenu]=isConnected *ngIf="canShowMenu" class="killMenu"></killer-menu>
<div id="rankingDiv">
  <label class="divName">Classement</label>
  <a (click)="showAllKillers()" id="showAllKillers">Tout voir</a>
  <div id="rankingList">
      <ul>
          <li *ngFor="let killer of killers | slice : startKillers:endKillers; let i = index" (click)="showDetails(i)">
              <!-- Si on a pas encore cliqué sur le div et que les détails ne sont donc pas affichés -->
              <div *ngIf="!showDiv[i]">
                  <div class="divImgs">
                      <img src="{{ killer.killerphoto.data.url }}" alt="{{ killer.killersurname }}"  class="imgKiller" />
                      <img src="{{ killer.imgLaurel }}" alt="" class="imgLaurel" />
                  </div>
                  <div class="divInfos">
                      <div class="killerIdentity">
                          <p class="surnameKiller">@{{ killer.killersurname }}</p>
                          <p class="nameKiller">{{ killer.killerlastname }} {{ killer.killerfirstname }}</p>
                      </div>
                      <div class="killerKillingInformations">
                          <div class="cols"><p class="th">Place</p><p class="td">{{ killer.rank }}</p></div> 
                          <div class="cols"><p class="th">Kills</p><p class="td">{{ killer.nbKills }}</p></div> 
                          <div class="cols"><p class="th">Bench</p><p class="td">{{ killer.killerbench }}</p></div> 
                          <div class="cols"><p class="th">Team</p><p class="td">{{ killer.teamid.data.teamname }}</p></div>
                      </div>
                  </div>
              </div>
              <!-- Sinon, les détails sont affichés donc on affiche le li modifié -->
              <div *ngIf="showDiv[i]">
                  <img src="{{ killer.killerphoto.data.url }}" alt="{{ killer.killersurname }}"  class="imgKillerDetails" />
                  <img src="{{ killer.imgLaurelDetails }}" alt="" class="imgLaurelDetails" />
                  <div class="divInfosDetails">
                      <div class="killerIdentity">
                          <p class="surnameKiller">@{{ killer.killersurname }}</p>
                          <p class="nameKiller">{{ killer.killerlastname }} {{ killer.killerfirstname }}</p>
                      </div>
                      <div class="detailsLocation">
                          <div class="cols"><p class="th">Bench</p><p class="td">{{ killer.killerbench }}</p></div> 
                          <div class="cols"><p class="th">Team</p><p class="td">{{ killer.teamid.data.teamname }}</p></div> 
                      </div>
                      <div class="detailsKills">
                          <div class="cols"><p class="th">Total<br />Kills</p><p class="td">{{ killer.nbKills }}</p></div> 
                          <div *ngFor="let tool of killer.tools | slice : 0:3" class="cols"><p class="th"><img src="{{ tool.toolimage.data.url }}" alt="" class="tool" /></p><p class="td">{{ tool.count }}</p></div> 
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</div>

<div id="lastKillsDiv">
  <div>
      <label class="divName">Derniers Meutres</label>
      <a (click)="showAllKills()" id="showAllKills">Tout voir</a>
  </div>
  <div id="lastKillsList">
      <ul>
          <li *ngFor="let contract of contracts | slice : startKills:endKills ; let last = last" [ngClass]="{ last: last }">
              <div class="dayKill">
                  <img src="../assets/img/Skull.png" alt="skull" class="blackSkull" /> {{ contract.handlingenddate }}
              </div>
              <div class="killerAndKilled">
                  <p class="killed">@{{ contract.contractid.data.contacttargetid.data.killersurname }} : {{ contract.contractid.data.contacttargetid.data.killerlastname }} {{ contract.contractid.data.contacttargetid.data.killerfirstname }}</p>
                  <p class="killer">tué par @{{ contract.killerid.data.killersurname }}</p>
              </div>
              <div *ngIf='!last' class="line"></div>
          </li>
      </ul>
  </div>
  <div *ngIf="showSecondDivKills" id="lastKillsListTwo">
      <ul>
          <li *ngFor="let contract of contracts | slice : startKillsSmallScreen:endKillsSmallScreen ; let last = last" [ngClass]="{ last: last }">
              <div class="dayKill">
                  <img src="../assets/img/Skull.png" alt="skull" class="blackSkull" /> {{ contract.handlingenddate }}
              </div>
              <div class="killerAndKilled">
                  <p class="killed">@{{ contract.contractid.data.contacttargetid.data.killersurname }} : {{ contract.contractid.data.contacttargetid.data.killerlastname }} {{ contract.contractid.data.contacttargetid.data.killerfirstname }}</p>
                  <p class="killer">tué par @{{ contract.killerid.data.killersurname }}</p>
              </div>
              <div *ngIf='!last' class="line"></div>
          </li>
      </ul>
  </div>
</div>