<!-- Fin Profil -->
<killer-menu [showMenu]=isConnected></killer-menu>
<!-- Fin Menu -->


<!-- 
<div class="" *ngIf="detail ; then detailItemEvent;" >
</div> -->
    <div class="container-fluid text-center">
                
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title"> {{'PROFIL.TITRE'| translate }}</h4>
                      </div>
                      <div class="card-text">
                          <p><b> {{'PROFIL.NOM'| translate }} : </b>  </p>
                          <p><b> {{'PROFIL.PRENOM'| translate }} : </b> </p>
                          <p><b> {{'PROFIL.SURNOM'| translate}} : </b> </p>
                          <p><b> {{'PROFIL.SEXE' | translate}} : </b> </p>
                          <p><b> {{'PROFIL.BENCH' | translate}}: </b></p>
                          <p><b> {{'PROFIL.MAIL' | translate}} : </b> </p>
                          <p><b> {{'PROFIL.PHOTO' | translate}} : </b> </p>
                      </div>
                     
                </div>
                <div class="row"> 
                    <button type="button" class="btn btn-info">{{'BOUTON.USERINFOUPDATE' | translate}} <i class="glyphicon glyphicon-pencil"></i> </button>
                    <button type="button" class="btn btn-danger">{{'BOUTON.USERDELETE' | translate}} <i class="glyphicon glyphicon-trash"></i></button>
                </div>
        </div>
        
      <ng2-toasty [position]="'top-center'"></ng2-toasty>
      <!-- End card -->
      <killer-footer></killer-footer>